.acticleItem {
  padding: 38px 10px;
  border-top: 1px solid rgba(220, 220, 220, 0.5);
  background-color: #fcfcfc;
}
.acticleItem p {
  font-size: 18px;
}
.acticleItem a {
  color: #666;
}
.acticleItem:hover {
  background-color: #1eb9ee;
}
.acticleItem:hover a {
  color: white;
}
.paging {
  margin-top: 30px;
  text-align: center;
}
.day {
  color: #333;
  font-size: 68px;
  font-style: italic;
}
.ymomth {
  font-size: 14px;
}
