/* 这个文件不走 css modules，自动被引入，可以写一些全局样式，或者做一些样式覆盖 */

@primaryColor: #1eb9ee;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

/* Header */
.patHeader {
  position: fixed;
  top: 0;
  z-index: 99;
  transition: .4s;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px 20px;
}
.patHeader::after {
  clear: right;
}

.menus {
  float: right;

  & > span, & > a {
    cursor: pointer;
    font-size: 16px;
    line-height: 60px;
    color: rgba(255,255,255, 0.6);
    padding: 7px 25px;

    &:hover {
      color: rgba(7, 182, 243, 0.8);
    }
  }

  & > .contact {
    background-color: rgba(7, 182, 243, 0.7);
    border-radius: 30px;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

#root .is-shrink {
  transition: .4s;
  padding: 0 20px;
  background-color: rgba(255,255,255, .9);

  & > a {
    transition: .4s;
    height: 50px;
    img {
      transition: .4s;
    }
  }

  .menus {
    & > span, & > a {
      transition: .4s;
      line-height: 50px;
    }
  }

  & > div {
    height: 50px;
  }

  div > [role=moveto], div > [role=routeto] {
    color: #333;
  }
}

/* main body style */

.m-banner {
  width: 100%;
  background-image: url(./assets/screen.png);

  .bg-img {
    width: 100%;
    min-height: 80px;

    img {
      width: 100%;
    }
  }

  .bgt-img {
    position: absolute;
    width: 25%;
    margin: auto;
    left: 0;
    right: 0;
    top: -11%;
    bottom: 0;
  }
}

.news-more {
  color: #fff;
  height: 180px;
  margin: 80px 0;
  background-color: #333;

  .m-content{
    position: relative;
  }

  .rectFr {
    transition: .4s;
    transform: rotate3d(1,2,3, 720deg);
    position: absolute;
    top: -50px;
    left: -100%;
    width: 175px;
    height: 275px;
    border: 4px solid @primaryColor;
  }

  .rectFr.is-set {
    transition: .7s;
    transform: rotate3d(0,0,0, 0deg);
    left: 0;
  }

  .news-title, .acticle-titile {
    display: inline-block;
    line-height: 180px;
    vertical-align: middle;
    text-align: center;
  }

  .news-title {
    width: 175px;
    font-size: 20px;
  }

  .acticle-titile {
    height: 180px;
    margin-left: -10px;
    padding: 58px 0 0 68px;
    color: white;
    background-color: #333;
    text-align: left;

    & > span {
      display: block;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  .date {
    position: relative;

    em {
      font-size: 28px;
      padding-right: 20px;
    }

    i{
      position: absolute;
      top: -10px;
      left: 80px;
      border-right: 1px solid @primaryColor;
      transform: rotate(30deg);
      display: block;
      width: 1px;
      height: 48px;
    }
  }

  .lkmore {
    padding-top: 40px;
    text-align: right;
  }
}
.m-content {
  width: 1200px;
  margin: 0 auto;

  .link-more {
    display: inline-block;
    width: 220px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: white;
    border-radius: 10px;
    margin: 30px 0;
    background-color: @primaryColor;
  }
}

.mc-title {
  margin: 50px 0;

  .big {
    font-size: 36px;
    color: @primaryColor;
    text-shadow: 3px 5px 5px rgba(0,0,0,0.2);
  }

  .desc {
    position: relative;
    font-size: 18px;
    margin-left: 20px;
  }

  .line {
    position: absolute;
    top: -17px;
    left: -23px;
    border-left: 2px solid @primaryColor;
    transform: rotate(38deg);
    background-color: white;
    display: block;
    width: 15px;
    height: 58px;
  }
}

.more-partner {
  margin: 30px 0;
  height: 160px;
  background-color: #eee;

  [class*=ant-col-] {
    text-align: center;
    padding-top: 55px;
  }
}

.link-center {
  text-align: center;
}

.about-text {
  text-align: center;
}

.patFooter{
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 30px;
  padding-top: 80px;
  color: white;
  background-color: #333;

  h3 {
    font-size: 18px;
    color: white;
    margin-top: 58px;
  }

  .contact-more {
    margin-top: 38px;

    a{
      margin-right: 20px;
    }
  }

  .ant-input{
    color: #eee;
    border: 1px solid rgba(255,255,255, .3);
    background-color: rgba(255,255,255, .1);

    &::-webkit-input-placeholder{ color: #666; }
    &::-moz-placeholder{ color: #666; }
    &::-ms-input-placeholder{ color: #666; }
  }
}

.footnote {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #555;
  line-height: 38px;
  text-align: center;
}

// 滚动图片
.PatCarousel {
  position: relative;
  width: 100%;
  margin-top: 30px;

  .photoWrapper > li.actived {
    transform: scale(1);
    z-index: 99;
    height: 259px;
  }
}

.photoWrapper {
  position: relative;
  width: 950px;
  height: 260px;
  margin: 0 auto;

  li {
    position: absolute;
    display: list-item;
    transition: .5s;
    transform: scale(0.8);

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      left: 3px;
      bottom: -20px;
      display: block;
      height: 29px;
      width: 98%;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      background-color: rgba(0,0,0,.3);
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
    }
  }
  li.behind {
    transform: scale(0.6);

  }
  img {
    height: 100%;
  }
}
