/* 这个文件不走 css modules，自动被引入，可以写一些全局样式，或者做一些样式覆盖 */
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}
.m-width {
  width: 1200px;
  margin: 0 auto;
}
/* Header */
.patHeader {
  position: fixed;
  top: 0;
  z-index: 99;
  transition: .4s;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px 20px;
}
.patHeader .mlogo {
  display: inline-block;
  height: 60px;
}
.patHeader .mlogo img {
  height: 100%;
}
.patHeader::after {
  clear: right;
}
.menus {
  float: right;
}
.menus > span,
.menus > a {
  cursor: pointer;
  font-size: 16px;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding: 7px 25px;
}
.menus > span:hover,
.menus > a:hover {
  color: rgba(7, 182, 243, 0.8);
}
.menus > .contact {
  background-color: rgba(7, 182, 243, 0.7);
  border-radius: 30px;
}
.menus > .contact:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
#root .is-shrink {
  transition: .4s;
  padding: 0 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}
#root .is-shrink > a {
  transition: .4s;
  height: 50px;
}
#root .is-shrink > a img {
  transition: .4s;
}
#root .is-shrink .menus > span,
#root .is-shrink .menus > a {
  transition: .4s;
  line-height: 50px;
}
#root .is-shrink .menus > span:hover,
#root .is-shrink .menus > a:hover {
  color: rgba(7, 182, 243, 0.8);
}
#root .is-shrink > div {
  height: 50px;
}
#root .is-shrink div > [role=moveto],
#root .is-shrink div > [role=routeto] {
  color: #333;
}
#root .is-other-header {
  padding: 0 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}
#root .is-other-header .mlogo {
  height: 50px;
}
#root .is-other-header .menus > span,
#root .is-other-header .menus > a {
  color: #333;
  line-height: 50px;
}
#root .is-other-header .menus > span:hover,
#root .is-other-header .menus > a:hover {
  color: rgba(7, 182, 243, 0.8);
}
/* main body style */
.m-banner {
  width: 100%;
  background-image: url(assets/screen.png);
}
.m-banner .bg-img {
  width: 100%;
  min-height: 80px;
}
.m-banner .bg-img img {
  width: 100%;
}
.m-banner .bgt-img {
  position: absolute;
  width: 25%;
  margin: auto;
  left: 0;
  right: 0;
  top: -11%;
  bottom: 0;
}
.blog-more {
  color: #fff;
  height: 180px;
  margin: 80px 0;
  background-color: #333;
}
.blog-more .m-content {
  position: relative;
}
.blog-more .rectFr {
  transition: .4s;
  transform: rotate3d(1, 2, 3, 720deg);
  position: absolute;
  top: -50px;
  left: -100%;
  width: 175px;
  height: 275px;
  border: 4px solid #1eb9ee;
}
.blog-more .rectFr.is-set {
  transition: .7s;
  transform: rotate3d(0, 0, 0, 0deg);
  left: 0;
}
.blog-more .blog-title,
.blog-more .acticle-titile {
  display: inline-block;
  line-height: 180px;
  vertical-align: middle;
  text-align: center;
}
.blog-more .blog-title {
  width: 175px;
  font-size: 20px;
}
.blog-more .acticle-titile {
  height: 180px;
  margin-left: -10px;
  padding: 58px 0 0 68px;
  color: white;
  background-color: #333;
  text-align: left;
}
.blog-more .acticle-titile > span {
  display: block;
  line-height: 24px;
  margin-bottom: 20px;
}
.blog-more .date {
  position: relative;
}
.blog-more .date em {
  font-size: 28px;
  padding-right: 20px;
}
.blog-more .date i {
  position: absolute;
  top: -10px;
  left: 80px;
  border-right: 1px solid #1eb9ee;
  transform: rotate(30deg);
  display: block;
  width: 1px;
  height: 48px;
}
.blog-more .lkmore {
  padding-top: 40px;
  text-align: right;
}
.main-content {
  width: 1200px;
  margin: 0 auto 80px auto;
  min-height: 670px;
}
.bottom-footer {
  position: absolute;
  bottom: -80px;
  height: 80px;
  width: 100%;
}
.page-title {
  position: relative;
  height: 60px;
  border-top: 5px solid #1eb9ee;
}
.page-title .text {
  position: absolute;
  top: -10px;
  left: -10px;
  display: inline-block;
  padding: 10px 35px;
  font-size: 20px;
  color: white;
  background-color: #1eb9ee;
  margin-top: -20px;
}
.m-content {
  width: 1200px;
  margin: 0 auto;
}
.m-content .link-more {
  display: inline-block;
  width: 220px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  color: white;
  border-radius: 10px;
  margin: 30px 0;
  background-color: #1eb9ee;
}
.mc-title {
  margin: 50px 0;
}
.mc-title .big {
  font-size: 36px;
  color: #1eb9ee;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}
.mc-title .desc {
  position: relative;
  font-size: 18px;
  margin-left: 20px;
}
.mc-title .line {
  position: absolute;
  top: -17px;
  left: -23px;
  border-left: 2px solid #1eb9ee;
  transform: rotate(38deg);
  background-color: white;
  display: block;
  width: 15px;
  height: 58px;
}
.more-partner {
  margin: 30px 0;
  height: 160px;
  background-color: #eee;
}
.more-partner [class*=ant-col-] {
  text-align: center;
  padding-top: 55px;
}
.link-center {
  text-align: center;
}
.about-text {
  text-align: center;
}
.patFooter {
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 30px;
  padding-top: 80px;
  color: white;
  background-color: #333;
}
.patFooter h3 {
  font-size: 18px;
  color: white;
  margin-top: 58px;
}
.patFooter .contact-more {
  margin-top: 38px;
}
.patFooter .contact-more a {
  margin-right: 20px;
}
.patFooter .ant-input {
  color: #eee;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}
.patFooter .ant-input::-webkit-input-placeholder {
  color: #666;
}
.patFooter .ant-input::-moz-placeholder {
  color: #666;
}
.patFooter .ant-input::-ms-input-placeholder {
  color: #666;
}
.footnote {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #555;
  line-height: 38px;
  text-align: center;
}
.PatCarousel {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
.PatCarousel .photoWrapper > li.actived {
  transform: scale(1);
  z-index: 99;
  height: 259px;
}
.photoWrapper {
  position: relative;
  width: 950px;
  height: 260px;
  margin: 0 auto;
}
.photoWrapper li {
  position: absolute;
  display: list-item;
  transition: .5s;
  transform: scale(0.8);
}
.photoWrapper li::after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 3px;
  bottom: -20px;
  display: block;
  height: 29px;
  width: 98%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
}
.photoWrapper li.behind {
  transform: scale(0.6);
}
.photoWrapper img {
  height: 100%;
}
/* 案例展示 */
.case-title {
  font-size: 20px;
  padding: 5px 0;
  border-bottom: 3px solid #1eb9ee;
}
.case-content {
  padding: 10px 0;
  margin-bottom: 20px;
}
.case-visit-web {
  width: 100%;
  border-bottom: 5px solid #1eb9ee;
}
.case-visit-web a {
  display: block;
  margin: 0 auto -20px auto;
  width: 120px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  color: white;
  background-color: #1eb9ee;
  border-radius: 8px;
}
.case-show-img {
  text-align: center;
  margin-top: 50px;
}
.case-show-img img {
  width: 90%;
}
.about-wrapper .ant-row {
  margin-top: 20px;
}
.about-wrapper [class*=about-bg] {
  position: relative;
  height: 350px;
  overflow: hidden;
}
.about-wrapper [class*=about-bg]:hover img {
  transform: scale(1.2);
}
.about-wrapper [class*=about-desc] {
  position: absolute;
  width: 100%;
  color: white;
  padding: 20px;
}
.about-wrapper [class*=about-desc] p {
  font-size: 20px;
}
.about-wrapper .about-bg2,
.about-wrapper .about-bg3,
.about-wrapper .about-bg5 {
  background-color: #1eb9ee;
}
.about-wrapper .about-bg4 {
  border: 1px solid #1eb9ee;
}
.about-wrapper .about-desc1,
.about-wrapper .about-desc3,
.about-wrapper .about-desc5 {
  bottom: 0;
}
.about-wrapper .about-desc2,
.about-wrapper .about-desc4 {
  top: 0;
}
.about-wrapper .about-desc4 {
  color: #222;
}
.about-wrapper img {
  position: absolute;
  bottom: 0;
  transition: .4s;
  width: 100%;
}
