/* Header */
.patHeader {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px 20px;
}
.patHeader::after {
  clear: right;
}
.mlogo {
  display: inline-block;
  height: 60px;
}
.mlogo img {
  height: 100%;
}
.menus {
  float: right;
}
.menus > span,
.menus > a {
  cursor: pointer;
  font-size: 16px;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 25px;
}
.menus > span:hover,
.menus > a:hover {
  color: rgba(7, 182, 243, 0.8);
}
.menus > .contact {
  background-color: rgba(7, 182, 243, 0.7);
  border-radius: 30px;
}
.menus > .contact:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
