/* Header */
.patHeader {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px 20px;
}
.patHeader::after {
  clear: right;
}
.mlogo {
  display: inline-block;
  height: 60px;
}
.mlogo img {
  height: 100%;
}
