.patCard {
  transition: .4s;
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 350px;
  width: 265px;
  margin: 0 auto;
  cursor: pointer;
}
.patCard:hover .wrapper {
  transition: .4s;
  height: 250px;
  background-color: #eee;
}
.patCard:hover .wrapper img {
  transition: .4s;
  margin-top: 10%;
}
.patCard:hover .patCardContent {
  transition: .4s;
  bottom: 0;
}
.wrapper {
  position: relative;
  transition: .4s;
  height: 350px;
  width: 100%;
}
.wrapper img {
  transition: .4s;
  margin: 25% 0 10% 0;
}
.patCardContent {
  transition: .4s;
  position: absolute;
  left: 0;
  bottom: -100px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  color: white;
  background-color: #1eb9ee;
}
